img{
    height: 55px;
    
}
#mechwart{
    width: 110px

}
body{
    border: 11px solid purple;
    text-align: center;
    color: purple;
   border-radius: 30px;
   font-size: 20px;
}
#en{
  
    top: 210px;
    left: 942px;
}
